<h1 mat-dialog-title class="pt-2 pb-0">{{ title }}</h1>
<app-progress *ngIf="reachingOut"></app-progress>
<div style="overflow-y: scroll; max-height: 81vh">
  <div class="container-fluid">
    <form id="form" #f=ngForm (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="name" name="name" class="txt" placeholder="."
                   [(ngModel)]="data.name" autocomplete="off" required #name='ngModel' maxlength="100"
                   [ngClass]="{'invalid': (name.invalid && name.touched) || f.submitted && name.invalid}">
            <label for="name" class="input">نام دستگاه</label>
            <small class="error text-danger" *ngIf="(name.invalid && name.touched) || f.submitted && name.invalid">
              پرکردن این فیلد الزامی است.
            </small>
          </div>
        </div>
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="model" name="model" class="txt ltr" placeholder="." maxlength="80" [(ngModel)]="data.model" autocomplete="off">
            <label for="model" class="input">مدل دستگاه</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="serial" name="serial" class="txt ltr" placeholder="." maxlength="40" [(ngModel)]="data.serial" autocomplete="off">
            <label for="serial" class="input">شماره سریال</label>
          </div>
        </div>
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="manufacturer" name="manufacturer" class="txt" placeholder="." maxlength="70" [(ngModel)]="data.manufacturer" autocomplete="off">
            <label for="manufacturer" class="input">شرکت سازنده</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="madeIn" name="madeIn" class="txt" placeholder="." maxlength="40" [(ngModel)]="data.madeIn" autocomplete="off">
            <label for="madeIn" class="input">کشور سازنده</label>
          </div>
        </div>
        <div class="col-6" style="margin-top: 18px">
          <app-select [data]="statusOptions" name="serviceable" [(ngModel)]="data.serviceable"></app-select>
        </div>
      </div>
    </form>
      <div class="field-group">
        <div class="field-group-header">
          <div class="group-title">اپراتورهای دستگاه</div>
          <div class="group-buttons">
            <button type="button" class="btn btn-outline-success btn-sm px-3" (click)="showOperatorForm = true">
              جدید
            </button>
          </div>
        </div>
        <div class="group-content">
          <div *ngIf="showOperatorForm">
            <form id="operatorForm" #operatorForm=ngForm (ngSubmit)="onAddOperator()">
              <div class="row">
                <div class="col-6" style="margin-top: 18px">
                  <app-search-select
                          name="firstName" #fName='ngModel' required
                          [data]="operatorSearchOptions"
                          [(ngModel)]="pendingOperator.firstName"
                          [maxLength]="50"
                          (onSelectionChange)="onSelectOperator()"
                          (onSearch)="onSearchOperator()"
                          (onDropSelected)="clearOperatorForm()"
                          [disabled]="operatorSearchOptions.selectedValue != null"
                          [invalid]="(fName.touched && fName.invalid) || (operatorForm.submitted && fName.invalid)">
                  </app-search-select>
                  <small class="error text-danger"
                         *ngIf="(fName.touched && fName.invalid) || (operatorForm.submitted && fName.invalid)">
                    پرکردن این فیلد الزامی است.
                  </small>
                </div>
                <div class="col-6">
                  <div class="input-field">
                    <input type="text" id="lastName" name="lastName" class="txt"
                           [(ngModel)]="pendingOperator.lastName" maxlength="50"
                           [disabled]="operatorSearchOptions.selectedValue != null"
                           placeholder="." autocomplete="off" required #lName='ngModel'
                           [ngClass]="{'invalid': (lName.touched && lName.invalid) || (operatorForm.submitted && lName.invalid)}">
                    <label for="lastName" class="input">نام خانوادگی</label>
                    <small class="error text-danger"
                           *ngIf="(lName.touched && lName.invalid) || (operatorForm.submitted && lName.invalid)">
                      پرکردن این فیلد الزامی است.
                    </small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="input-field">
                    <input type="text" id="nationalNumber" name="nationalNumber" class="txt ltr"placeholder="." autocomplete="off"
                           [(ngModel)]="pendingOperator.nationalNumber" maxlength="10"  pattern="^\d*$" required
                           [disabled]="operatorSearchOptions.selectedValue != null" #natId='ngModel'
                           [ngClass]="{'invalid': (natId.touched && natId.invalid) || (operatorForm.submitted && natId.invalid)}">
                    <label for="nationalNumber" class="input">کد ملی</label>
                    <div *ngIf="(natId.touched && natId.invalid) || (operatorForm.submitted && natId.invalid)">
                      <small class="error text-danger" *ngIf="natId.errors?.['required']">
                        پرکردن این فیلد الزامی است.
                      </small>
                      <small class="error text-danger" *ngIf="natId.errors?.['pattern']">
                        مقدار وارد شده معتبر نیست.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="input-field">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="txt ltr" placeholder="." autocomplete="off"
                           [(ngModel)]="pendingOperator.phoneNumber" #phoneNum='ngModel' maxlength="14"  pattern="^\+?(\d| )*$"
                           [disabled]="operatorSearchOptions.selectedValue != null"
                           [ngClass]="{'invalid': (phoneNum.invalid && phoneNum.touched) || (operatorForm.submitted && phoneNum.invalid)}">
                    <label for="phoneNumber" class="input">شماره تماس</label>
                    <small class="error text-danger" *ngIf="(phoneNum.invalid && phoneNum.touched) || (operatorForm.submitted && phoneNum.invalid)">
                      مقدار وارد شده معتبر نیست.
                    </small>
                  </div>
                </div>
                <div class="col-2" style="margin-top: 18px">
                  <app-select [data]="genderOptions" name="gender" [(ngModel)]="pendingOperator.gender" [disabled]="operatorSearchOptions.selectedValue != null"></app-select>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <app-jalali-date-picker [data]="dateOptions" name="designationDate" [(ngModel)]="pendingOperator.designationDate"></app-jalali-date-picker>
                </div>
                <div class="col-6" style="margin-top: 18px">
                  <app-select [data]="operatorTypeOptions"
                              name="type" required #oType='ngModel'
                              [(ngModel)]="pendingOperator.type"
                              [invalid]="(oType.touched && oType.invalid) || (operatorForm.submitted && oType.invalid)">
                  </app-select>
                  <small class="error text-danger"
                         *ngIf="(oType.touched && oType.invalid) || (operatorForm.submitted && oType.invalid)">
                    پرکردن این فیلد الزامی است.
                  </small>
                </div>
              </div>
              <div class="my-2 d-flex justify-content-between ltr">
                <div>
                  <button type="submit" class="btn btn-outline-success btn-sm px-3">افزودن به لیست</button>
                </div>
                <p class="small text-danger mb-0 ms-2 rtl" *ngIf="operatorForm.submitted && operatorForm.invalid">
                  لطفاً خطا های فوق را اصلاح کرده و مجدداً امتحان کنید.
                </p>
              </div>
            </form>
          </div>
          <ng-template [ngIf]="data.operators != null && data.operators.length > 0" [ngIfElse]="noOperators">
            <div class="mt-2">
              <app-data-table [config]="operatorTableConfig" [data]="operatorTableData" (removeItem)="onRemoveOperator($event)">
              </app-data-table>
            </div>
          </ng-template>
          <ng-template #noOperators>
            <p class="small text-muted ms-2 mt-2">اپراتوری برای دستگاه ثبت نشده است.</p>
          </ng-template>
        </div>
      </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between ltr">
  <div class="w-25 d-flex">
    <button type="submit" form="form" class="btn btn-success btn-sm d-flex px-3">
      <span class="loading-double-ring ms-1" *ngIf="reachingOut"></span>
      <div>ثبت</div>
    </button>
    <button class="btn btn-secondary btn-sm px-3 me-2" [mat-dialog-close]="submitted">انصراف</button>
  </div>
  <p class="small text-danger mb-0 ms-2 rtl" *ngIf="f.submitted && f.invalid">
    <i class="fas fa-exclamation-triangle"></i>
    لطفاً خطا های فوق را اصلاح کرده و مجدداً امتحان کنید.
  </p>
</div>
