<h1 mat-dialog-title class="pt-2 pb-0">ثبت دستگاه</h1>
<app-progress *ngIf="reachingOut"></app-progress>
<div class="container-fluid">
  <form id="form" #f=ngForm (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-6">
        <div class="input-field">
            <input type="text" id="name" name="name" class="txt" placeholder="pox" ngModel autocomplete="off">
            <label for="name">نام دستگاه</label>
        </div>
        <div class="input-field">
          <input type="text" id="model" name="model" class="txt" placeholder="pox" ngModel autocomplete="off">
          <label for="model">مدل دستگاه</label>
        </div>
        <div class="input-field">
          <input type="text" id="serial" name="serial" class="txt" placeholder="pox" ngModel autocomplete="off">
          <label for="serial">شماره سریال</label>
        </div>
      </div>
      <div class="col-6">
        <div class="input-field">
          <input type="text" id="manufacturer" name="manufacturer" class="txt" placeholder="pox" ngModel autocomplete="off">
          <label for="manufacturer">شرکت سازنده</label>
        </div>
        <div class="input-field">
          <input type="text" id="madeIn" name="madeIn" class="txt" placeholder="pox" ngModel autocomplete="off">
          <label for="madeIn">کشور سازنده</label>
        </div>
        <app-select [data]="statusOptions" name="active" ngModel></app-select>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions style="direction: ltr;">
  <button type="submit" form="form" class="btn btn-success btn-sm d-flex px-3">
  <app-loading-spinner-bars
          color="white"
          [size]="16"
          class="ms-2"
          *ngIf="reachingOut">
  </app-loading-spinner-bars>
  <div>ثبت</div>
  </button>
  <button class="btn btn-secondary btn-sm px-3 me-2" [mat-dialog-close]="submitted">انصراف</button>
</div>
