<h1 mat-dialog-title class="pt-2 pb-0">{{ title }}</h1>
<app-progress *ngIf="reachingOut"></app-progress>
<div class="container-fluid">
  <form id="form" #f=ngForm (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <app-search-select
                [data]="peopleOptions"
                (onSearch)="getPeopleOptions($event)"
                (onSelectionChange)="onPersonSelect()"
                name="id"
                [disabled]="mode == 1"
                [(ngModel)]="data.id">
        </app-search-select>
        <div class="input-field">
          <input type="text" id="firstName" name="firstName" class="txt" placeholder="pox" [(ngModel)]="data.firstName" autocomplete="off" [disabled]="data.id != null && mode == 0">
          <label for="firstName">نام</label>
        </div>
        <div class="input-field">
          <input type="text" id="phoneNumber" name="phoneNumber" class="txt" placeholder="pox" [(ngModel)]="data.phoneNumber" autocomplete="off" [disabled]="data.id != null && mode == 0">
          <label for="phoneNumber">شماره موبایل</label>
        </div>
        <div class="input-field">
          <input type="text" id="nationalNumber" name="nationalNumber" class="txt" placeholder="pox" [(ngModel)]="data.nationalNumber" autocomplete="off" [disabled]="data.id != null && mode == 0">
          <label for="nationalNumber">کد ملی</label>
        </div>
        <div class="input-field">
          <input type="text" id="personnelCode" name="personnelCode" class="txt" placeholder="pox" [(ngModel)]="data.personnelCode" autocomplete="off">
          <label for="personnelCode">کد پرسنلی</label>
        </div>
      </div>
      <div class="col-6">
        <div class="input-field">
          <input type="text" id="lastName" name="lastName" class="txt" placeholder="pox" [(ngModel)]="data.lastName" autocomplete="off" [disabled]="data.id != null && mode == 0">
          <label for="lastName">نام خانوادگی</label>
        </div>
        <div class="input-field">
          <input type="text" id="email" name="email" class="txt" placeholder="pox" [(ngModel)]="data.email" autocomplete="off" [disabled]="data.id != null && mode == 0">
          <label for="email">ایمیل</label>
        </div>
        <app-select [data]="genderOptions" name="gender" [(ngModel)]="data.gender" [disabled]="data.id != null && mode == 0"></app-select>
        <div class="input-field">
          <input type="text" id="post" name="post" class="txt" placeholder="pox" [(ngModel)]="data.post" autocomplete="off">
          <label for="post">سمت</label>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions style="direction: ltr;">
  <button type="submit" form="form" class="btn btn-success btn-sm d-flex px-3">
    <span class="loading-double-ring ms-1" *ngIf="reachingOut"></span>
    <div>ثبت</div>
  </button>
  <button class="btn btn-secondary btn-sm px-3 me-2" [mat-dialog-close]="submitted">انصراف</button>
</div>
