<div class="card">
  <div class="card-header py-1">لیست افراد</div>
  <app-progress *ngIf="table.loading"></app-progress>
  <div class="card-body">
    <div class="d-flex mb-3">
      <div class="pt-1" style="width: 230px">
        <button class="btn btn-sm btn-success me-2 px-3" (click)="openForm()">
          جدید
          <i class="fas fa-plus ms-2"></i>
        </button>
        <button class="btn btn-sm btn-secondary px-3" (click)="toggleSearch()">
          جستجو
          <i class="fas fa-search ms-2"></i>
        </button>
      </div>
      <div class="w-25">
        <app-select class="type-select" [data]="typeOptions" (onSelect)="onSelectType()"></app-select>
      </div>
    </div>
    <app-data-table
            [data]="persons"
            [config]="table"
            (editItem)="openForm($event)"
            (removeItem)="onRemoveItem($event)"
            (paramsChanged)="fetch()"
            (buttonClicked)="buttonClicked($event)">
    </app-data-table>
  </div>
</div>
<div class="card" *ngIf="selectedItem != null">
  <div class="card-header py-1">اطلاعات شخص</div>
  <div class="card-body">
    <div class="row mb-1">
      <div class="col">
        <div class="details-text"><strong>نام:</strong>&nbsp;<span>{{ selectedItem.firstName }}</span></div>
      </div>
      <div class="col">
        <div class="details-text"><strong>نام خانوادگی:</strong>&nbsp;<span>{{ selectedItem.lastName }}</span></div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col">
        <div class="details-text"><strong>کد ملی:</strong>&nbsp;<span>{{ selectedItem.nationalNumber }}</span></div>
      </div>
      <div class="col">
        <div class="details-text"><strong>جنسیت:</strong>&nbsp;<span>{{ transformGender(selectedItem.gender) }}</span></div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col">
        <div class="details-text"><strong>شماره موبایل:</strong>&nbsp;<span>{{ selectedItem.phoneNumber }}</span></div>
      </div>
      <div class="col">
        <div class="details-text"><strong>ایمیل:</strong>&nbsp;<span>{{ selectedItem.email }}</span></div>
      </div>
    </div>
    <div class="mt-2" *ngIf="selectedItem.typeLab">
      <strong class="mb-1 details-header d-block">پرسنل آزمایشگاه</strong>
      <div class="row mb1">
        <div class="col">
          <div class="details-text"><strong>کد پرسنلی:</strong>&nbsp;<span>{{ selectedItem.labPersonnelCode }}</span></div>
        </div>
        <div class="col">
          <div class="details-text"><strong>سمت:</strong>&nbsp;<span>{{ selectedItem.labPost }}</span></div>
        </div>
      </div>
    </div>
    <div class="mt-2" *ngIf="selectedItem.typeProf">
      <strong class="mb-1 details-header d-block">هیأت علمی دانشگاه تبریز</strong>
      <div class="row mb-1">
        <div class="col-6">
          <div class="details-text"><strong>کد پرسنلی:</strong>&nbsp;<span>{{ selectedItem.profPersonnelCode }}</span></div>
        </div>
        <div class="col-6">
          <div class="details-text"><strong>گروه آموزشی:</strong>&nbsp;<span>{{ selectedItem.profEduGroup.name }}</span></div>
        </div>
      </div>
    </div>
    <div class="mt-2" *ngIf="selectedItem.typeStdn">
      <strong class="mb-1 details-header d-block">دانشجوی دانشگاه تبریز</strong>
      <div class="row mb-1">
        <div class="col-6">
          <div class="details-text"><strong>شماره دانشجویی:</strong>&nbsp;<span>{{ selectedItem.stdnCode }}</span></div>
        </div>
        <div class="col-6">
          <div class="details-text"><strong>مقطع تحصیلی:</strong>&nbsp;<span>{{ transformEduLevel(selectedItem.stdnEduLevel) }}</span></div>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-6">
          <div class="details-text"><strong>رشته تحصیلی:</strong>&nbsp;<span>{{ selectedItem.stdnEduField.name }}</span></div>
        </div>
      </div>
    </div>
    <div class="mt-2" *ngIf="selectedItem.typeOrg">
      <strong class="mb-1 details-header d-block">شرکت‌های مطبوعه</strong>
      <app-data-table [config]="organizationsTableConfig" [data]="organizationsTableData"></app-data-table>
    </div>
  </div>
</div>
