<h1 mat-dialog-title class="pt-2 pb-0">{{ title }}</h1>
<app-progress *ngIf="reachingOut"></app-progress>
<div class="container-fluid">
  <form id="form" #f=ngForm (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="input-field">
          <input type="text" id="name" name="name" class="txt" placeholder="pox"
                 [(ngModel)]="data.name" autocomplete="off" required #name='ngModel' maxlength="90"
                 [ngClass]="{'invalid': (name.invalid && name.touched) || (name.invalid && f.submitted)}">
          <label for="name" class="input">نام رشته</label>
          <small class="error text-danger" *ngIf="(name.invalid && name.touched) || (name.invalid && f.submitted)">
            پرکردن این فیلد الزامی است.
          </small>
        </div>
      </div>
      <div class="col-6" style="margin-top: 18px">
        <app-select [data]="groupOptions" name="eduGroup" [(ngModel)]="data.eduGroupId" required #eduGroup='ngModel'
                    [invalid]="(eduGroup.invalid && eduGroup.touched) || (eduGroup.invalid && f.submitted)">
        </app-select>
        <small class="error text-danger" *ngIf="(eduGroup.invalid && eduGroup.touched) || (eduGroup.invalid && f.submitted)">
          پرکردن این فیلد الزامی است.
        </small>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions style="direction: ltr;">
  <button type="submit" form="form" class="btn btn-success btn-sm d-flex px-3">
    <span class="loading-double-ring ms-1" *ngIf="reachingOut"></span>
    <div>ثبت</div>
  </button>
  <button class="btn btn-secondary btn-sm px-3 me-2" [mat-dialog-close]="submitted">انصراف</button>
</div>
