<h1 mat-dialog-title class="pt-2 pb-0">{{ title }}</h1>
<app-progress *ngIf="reachingOut"></app-progress>
<div style="overflow: scroll; min-height: 220px; max-height: 81vh">
  <div class="container-fluid">
    <form id="form" #f=ngForm (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="firstName" name="firstName" class="txt" placeholder="." autocomplete="off"
                   [(ngModel)]="data.firstName" #fName='ngModel' required maxlength="50"
                   [ngClass]="{'invalid': (fName.touched && fName.invalid) || (f.submitted && fName.invalid)}">
            <label class="input" for="firstName">نام</label>
            <small class="error text-danger" *ngIf="(fName.touched && fName.invalid) || (f.submitted && fName.invalid)">
              پرکردن این فیلد الزامی است.
            </small>
          </div>
        </div>
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="lastName" name="lastName" class="txt" placeholder="." autocomplete="off"
                   [(ngModel)]="data.lastName" #lName='ngModel' required maxlength="50"
                   [ngClass]="{'invalid': (lName.touched && lName.invalid) || (f.submitted && lName.invalid)}">
            <label class="input" for="lastName">نام خانوادگی</label>
            <small class="error text-danger" *ngIf="(lName.touched && lName.invalid) || (f.submitted && lName.invalid)">
              پرکردن این فیلد الزامی است.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="nationalNumber" name="nationalNumber" class="txt ltr" placeholder="." autocomplete="off"
                   [(ngModel)]="data.nationalNumber" #natId='ngModel' required maxlength="10"  pattern="^\d*$"
                   [ngClass]="{'invalid': (natId.touched && natId.invalid) || (f.submitted && natId.invalid)}">
            <label class="input" for="nationalNumber">کد ملی</label>
            <div *ngIf="(natId.touched && natId.invalid) || (f.submitted && natId.invalid)">
              <p class="small error text-danger mb-0" *ngIf="natId.errors?.['required']">
                پرکردن این فیلد الزامی است.
              </p>
              <p class="small error text-danger mb-0" *ngIf="natId.errors?.['pattern']">
                کد ملی وارد شده معتبر نیست.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="phoneNumber" name="phoneNumber" class="txt ltr" placeholder="." autocomplete="off"
                   [(ngModel)]="data.phoneNumber" #phoneNum='ngModel' pattern="^\+?(\d| )*$" maxlength="14"
                   [ngClass]="{'invalid': (phoneNum.touched && phoneNum.invalid) || (f.submitted && phoneNum.invalid)}">
            <label class="input" for="phoneNumber">شماره موبایل</label>
            <small class="error text-danger" *ngIf="(phoneNum.touched && phoneNum.invalid) || (f.submitted && phoneNum.invalid)">
              شماره وارد شده معتبر نیست.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="input-field">
            <input type="email" id="email" name="email" class="txt ltr" placeholder="." autocomplete="off" maxlength="30"
                   [(ngModel)]="data.email" #email='ngModel' pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"
                   [ngClass]="{'invalid': (email.invalid && email.touched) || (f.submitted && email.invalid)}">
            <label class="input" for="email">ایمیل</label>
            <small class="error text-danger" *ngIf="(email.invalid && email.touched) || (f.submitted && email.invalid)">
              ایمیل وارد شده معتبر نیست.
            </small>
          </div>
        </div>
        <div class="col-6" style="margin-top: 18px">
          <app-select [data]="genderOptions" name="gender" [(ngModel)]="data.gender"></app-select>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <input type="checkbox" name="typeLab" id="typeLab" class="btn-check" [(ngModel)]="data.typeLab" autocomplete="off">
        <label for="typeLab" class="btn btn-sm px-2" [ngClass]="{'btn-outline-secondary': !data.typeLab, 'btn-outline-success': data.typeLab}">
          <i class="fas" [ngClass]="{'fa-close': !data.typeLab, 'fa-check': data.typeLab}"></i>
          پرسنل آزمایشگاه
        </label>
        <input type="checkbox" name="typeProf" id="typeProf" class="btn-check" [(ngModel)]="data.typeProf" autocomplete="off" (change)="onSelectType()">
        <label for="typeProf" class="btn btn-sm px-2" [ngClass]="{'btn-outline-secondary': !data.typeProf, 'btn-outline-success': data.typeProf}">
          <i class="fas" [ngClass]="{'fa-close': !data.typeProf, 'fa-check': data.typeProf}"></i>
          هیأت علمی دانشگاه تبریز
        </label>
        <input type="checkbox" name="typeStdn" id="typeStdn" class="btn-check" [(ngModel)]="data.typeStdn" autocomplete="off" (change)="onSelectType()">
        <label for="typeStdn" class="btn btn-sm px-2" [ngClass]="{'btn-outline-secondary': !data.typeStdn, 'btn-outline-success': data.typeStdn}">
          <i class="fas" [ngClass]="{'fa-close': !data.typeStdn, 'fa-check': data.typeStdn}"></i>
          دانشجوی دانشگاه تبریز
        </label>
        <input type="checkbox" name="typeOrg" id="typeOrg" class="btn-check" [(ngModel)]="data.typeOrg" autocomplete="off" (change)="onSelectType()">
        <label for="typeOrg" class="btn btn-sm px-2" [ngClass]="{'btn-outline-secondary': !data.typeOrg, 'btn-outline-success': data.typeOrg}">
          <i class="fas" [ngClass]="{'fa-close': !data.typeOrg, 'fa-check': data.typeOrg}"></i>
          نماینده شرکت/سازمان
        </label>
      </div>
      <div class="field-group mt-2" *ngIf="data.typeLab">
        <div class="field-group-header">
          <div class="group-title">پرسنل آزمایشگاه</div>
        </div>
        <div class="group-content">
          <div class="row">
            <div class="col-6">
              <div class="input-field">
                <input type="text" id="labPersonnelCode" name="labPersonnelCode" class="txt ltr" placeholder="." autocomplete="off"
                       [(ngModel)]="data.labPersonnelCode" #personnelCode='ngModel' required maxlength="10"
                       [ngClass]="{'invalid': (personnelCode.touched && personnelCode.invalid) || (f.submitted && personnelCode.invalid)}">
                <label class="input" for="labPersonnelCode">کد پرسنلی</label>
                <small class="error text-danger" *ngIf="(personnelCode.touched && personnelCode.invalid) || (f.submitted && personnelCode.invalid)">
                  پرکردن این فیلد الزامی است.
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="input-field">
                <input type="text" id="labPost" name="labPost" class="txt" placeholder="." autocomplete="off"
                       [(ngModel)]="data.labPost" #labPost='ngModel' required maxlength="30"
                       [ngClass]="{'invalid': (labPost.touched && labPost.invalid) || (f.submitted && labPost.invalid)}">
                <label class="input" for="labPost">سمت</label>
                <small class="error text-danger" *ngIf="(labPost.touched && labPost.invalid) || (f.submitted && labPost.invalid)">
                  پرکردن این فیلد الزامی است.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field-group" *ngIf="data.typeProf">
        <div class="field-group-header">
          <div class="group-title">هیأت علمی دانشگاه تبریز</div>
        </div>
        <div class="group-content">
          <div class="row">
            <div class="col-6">
              <div class="input-field">
                <input type="text" name="profPersonnelCode" id="profPersonnelCode" class="txt ltr" placeholder="." autocomplete="off"
                       [(ngModel)]="data.profPersonnelCode" #profCode='ngModel' required maxlength="10"
                       [ngClass]="{'invalid': (profCode.touched && profCode.invalid) || (f.submitted && profCode.invalid)}">
                <label class="input" for="profPersonnelCode">کد پرسنلی</label>
                <small class="error text-danger" *ngIf="(profCode.touched && profCode.invalid) || (f.submitted && profCode.invalid)">
                  پرکردن این فیلد الزامی است.
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="input-field">
                <app-select name="profEduGroup" [data]="eduGroupOptions"
                            [(ngModel)]="data.profEduGroupId" #profEduGrpId='ngModel' required
                            [invalid]="(profEduGrpId.touched && profEduGrpId.invalid) || (f.submitted && profEduGrpId.invalid)">
                </app-select>
                <small class="error text-danger" *ngIf="(profEduGrpId.touched && profEduGrpId.invalid) || (f.submitted && profEduGrpId.invalid)">
                  پرکردن این فیلد الزامی است.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field-group" *ngIf="data.typeStdn">
        <div class="field-group-header">
          <div class="group-title">دانشجوی دانشگاه تبریز</div>
        </div>
        <div class="group-content">
          <div class="row">
            <div class="col-6">
              <div class="input-field">
                <input type="text" name="stdnCode" id="stdnCode" class="txt ltr" placeholder="." autocomplete="off"
                       [(ngModel)]="data.stdnCode" #stdnCode='ngModel' required maxlength="12" pattern="^\d*$"
                       [ngClass]="{'invalid': (stdnCode.touched && stdnCode.invalid) || (f.submitted && stdnCode.invalid)}">
                <label class="input" for="stdnCode">شماره دانشجویی</label>
                <div *ngIf="(stdnCode.touched && stdnCode.invalid) || (f.submitted && stdnCode.invalid)">
                  <p class="small text-danger error mb-0" *ngIf="stdnCode.errors?.['required']">
                    پرکردن این فیلد الزامی است.
                  </p>
                  <p class="small text-danger error mb-0" *ngIf="stdnCode.errors?.['pattern']">
                    کد وارد شده معتبر نیست.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="input-field">
                <app-select name="stdnEduLevel" #eduLevel='ngModel'
                            [data]="eduLevelOptions"
                            [(ngModel)]="data.stdnEduLevel" required
                            [invalid]="(eduLevel.touched && eduLevel.invalid) || (f.submitted && eduLevel.invalid)">
                </app-select>
                <small class="error text-danger" *ngIf="(eduLevel.touched && eduLevel.invalid) || (f.submitted && eduLevel.invalid)">
                  پرکردن این فیلد الزامی است.
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="input-field">
                <app-select name="stdnEduField" #eduField='ngModel'
                            [data]="eduFieldOptions"
                            [(ngModel)]="data.stdnEduFieldId" required
                            [invalid]="(eduField.touched && eduField.invalid) || (f.submitted && eduField.invalid)">
                </app-select>
                <small class="error text-danger" *ngIf="(eduField.touched && eduField.invalid) || (f.submitted && eduField.invalid)">
                  پرکردن این فیلد الزامی است.
                </small>
              </div>
            </div>
            <div class="col-6">
            </div>
          </div>
        </div>
      </div>
      <div class="field-group" *ngIf="data.typeOrg">
        <div class="field-group-header">
          <div class="group-title">نماینده شرکت/سازمان - لیست شرکت های مطبوعه</div>
        </div>
        <div class="group-content">
          <div class="my-2" style="width: 400px">
            <app-select [data]="organizationOptions" (onSelect)="onSelectOrganization($event)"></app-select>
          </div>
          <div class="row mb-2 ms-2" *ngIf="pendingOrgIndex != null">
            <div class="col-3">
              <div class="details-text mt-2"><strong>نام:</strong>&nbsp;<span>{{ organizations[pendingOrgIndex].name }}</span></div>
            </div>
            <div class="col-3">
              <div class="details-text mt-2"><strong>شناسه ملی:</strong>&nbsp;<span>{{ organizations[pendingOrgIndex].nationalId }}</span></div>
            </div>
            <div class="col-3">
              <div class="details-text mt-2"><strong>کد ثبت:</strong>&nbsp;<span>{{ organizations[pendingOrgIndex].registrationNo }}</span></div>
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-sm btn-outline-success" style="padding: 3px 20px" (click)="onAddOrganization()">
                افزودن به لیست
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <ng-template [ngIf]="data.orgRepOrganizations.length > 0" [ngIfElse]="noOrgs">
            <div class="mt-2">
              <app-data-table [data]="organizationTableData" [config]="organizationTableConfig" (removeItem)="onRemoveOrganization($event)"></app-data-table>
            </div>
          </ng-template>
          <ng-template #noOrgs>
            <p class="small text-muted mt-2 ms-2">خالی</p>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between ltr">
  <div class="w-25 d-flex">
    <button type="submit" form="form" class="btn btn-success btn-sm d-flex px-3">
      <span class="loading-double-ring ms-1" *ngIf="reachingOut"></span>
      <div>ثبت</div>
    </button>
    <button class="btn btn-secondary btn-sm px-3 me-2" [mat-dialog-close]="submitted">انصراف</button>
  </div>
  <p class="small text-danger mb-0 ms-2 rtl" *ngIf="f.submitted && f.invalid">
    <i class="fas fa-exclamation-triangle"></i>
    لطفاً خطا های فوق را اصلاح کرده و مجدداً امتحان کنید.
  </p>
</div>
