<h1 mat-dialog-title class="pt-2 pb-0">{{ title }}</h1>
<app-progress *ngIf="reachingOut"></app-progress>
<div style="overflow: scroll; max-height: 81vh">
  <div class="container-fluid">
    <form id="form" #f=ngForm (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="name" name="name" class="txt" placeholder="pox" [(ngModel)]="data.name" autocomplete="off">
            <label for="name">نام آزمون</label>
          </div>
          <div style="padding-top: 18px">
            <app-select [data]="instOptions" name="instrumentId" [(ngModel)]="data.instrumentId"></app-select>
          </div>
        </div>
        <div class="col-6">
          <div class="input-field">
            <input type="text" id="shortName" name="shortName" class="txt" placeholder="pox" [(ngModel)]="data.shortName" autocomplete="off">
            <label for="shortName">نام کوتاه (حداکثر ۴ کاراکتر)</label>
          </div>
          <div style="padding-top: 18px">
            <app-select [data]="statusOptions" name="tActive" [(ngModel)]="data.tActive"></app-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <textarea name="description" id="description" rows="2" class="txt" [(ngModel)]="data.description"></textarea>
          <label for="description">توضیح</label>
        </div>
      </div>
      <div class="field-group">
        <div class="field-group-header">
          <div class="group-title">تعرفه‌های آزمون</div>
          <div class="group-buttons">
            <button type="button" class="btn btn-outline-success btn-sm px-3" (click)="onAddFee()">
              جدید
            </button>
          </div>
        </div>
        <div class="group-content">
          <ng-template [ngIf]="data.fees && data.fees.length != 0" [ngIfElse]="noFees">
            <div class="complex-field d-flex justify-content-around" *ngFor="let fee of data.fees, let i = index">
              <div class="complex-field-label">تعرفه {{i + 1}}</div>
              <div style="width: 190px; padding-top: 14px">
                <app-select [data]="feeTypeOptions[i]" [name]="'type'+i" [(ngModel)]="fee.type"></app-select>
              </div>
              <div style="width: 190px;">
                <div class="input-field">
                  <input type="number" [id]="'step-'+i" [name]="'step-'+i" class="txt" placeholder="pox" [(ngModel)]="fee.step" autocomplete="off" [disabled]="fee.type === 0">
                  <label [for]="'step-'+i">گام افزایش</label>
                </div>
              </div>
              <div style="width: 380px;">
                <div class="input-field">
                  <input type="number" [id]="'amount-'+i" [name]="'amount-'+i" class="txt" placeholder="pox" [(ngModel)]="fee.amount" autocomplete="off">
                  <label [for]="'amount-'+i">مبلغ (ریال)</label>
                </div>
              </div>
              <div style="width: 36px; margin-top: 14px">
                <button type="button" class="btn btn-outline-danger btn-small" (click)="onRemoveFee(i)">حذف</button>
              </div>
            </div>
          </ng-template>
          <ng-template #noFees>
            <p class="small text-muted mt-2 ms-2">تعرفه‌ای تعریف نشده است.</p>
          </ng-template>
        </div>
        <div class="group-footer"></div>
      </div>
<!--        <div class="form-hr"><span>تعرفه آزمون</span><div></div></div>-->

      <div class="field-group">
        <div class="field-group-header">
          <div class="group-title">آماده سازی‌های نمونه برای آزمون</div>
          <div class="group-buttons">
            <button type="button" class="btn btn-outline-success btn-sm px-3" (click)="onAddPrep()">
              جدید
            </button>
          </div>
        </div>
        <div class="group-content">
          <ng-template [ngIf]="data.samplePreparations && data.samplePreparations.length != 0" [ngIfElse]="noPreps">
            <div class="complex-field d-flex justify-content-around" *ngFor="let prep of data.samplePreparations, let i = index">
              <div class="complex-field-label">آماده‌سازی نمونه  {{i + 1}}</div>
              <div style="width: 480px">
                <div class="input-field">
                  <input type="text" [id]="'type-'+i" [name]="'type-'+i" class="txt" placeholder="pox" [(ngModel)]="prep.type" autocomplete="off">
                  <label [for]="'type-'+i">عنوان</label>
                </div>
              </div>
              <div style="width: 310px">
                <div class="input-field">
                  <input type="number" [id]="'price-'+i" [name]="'price-'+i" class="txt" placeholder="pox" [(ngModel)]="prep.price" autocomplete="off">
                  <label [for]="'price-'+i">هزینه (ریال)</label>
                </div>
              </div>
              <div style="width: 36px; margin-top: 14px">
                <button type="button" class="btn btn-outline-danger btn-small" (click)="onRemovePrep(i)">حذف</button>
              </div>
            </div>
          </ng-template>
          <ng-template #noPreps>
            <p class="small text-muted mt-2 ms-2">آماده سازی نمونه تعریف نشده است.</p>
          </ng-template>
        </div>
        <div class="group-footer"></div>
      </div>
      <div class="field-group">
        <div class="field-group-header">
          <div class="group-title">تخفیف‌های آزمون</div>
        </div>
        <div class="group-content">
          <div class="d-flex justify-content-start my-2">
            <div style="width: 400px" class="me-3">
              <app-select [data]="discountOptions" (onSelect)="onSelectDiscount($event)" name="discount" [(ngModel)]="discountOptions.selectedValue"></app-select>
            </div>
            <div style="width: 200px; margin-top: 3px">
              <button type="button" class="btn btn-success btn-sm px-3" (click)="onAddDiscount()" [disabled]="discountOptions.selectedValue === null">
                افزودن تخفیف
              </button>
            </div>
          </div>
          <div class="mx-3 py-2" *ngIf="selectedDiscount !== null">
            <div class="row mb-1">
              <div class="col">
                <div class="details-text"><strong>نوع تخفیف:</strong>&nbsp;<span>{{ selectedDiscount.typeString }}</span></div>
              </div>
              <div class="col">
                <div class="details-text"><strong>درصد تخفیف:</strong>&nbsp;<span>{{ selectedDiscount.percent }}</span></div>
              </div>
            </div>
            <div class="row mb1">
              <div class="col">
                <div class="details-text"><strong>حداقل تعداد نمونه:</strong>&nbsp;<span>{{ selectedDiscount.minSamples }}</span></div>
              </div>
              <div class="col">
                <div class="details-text"><strong>عنوان تخفیف</strong>&nbsp;<span>{{ selectedDiscount.name }}</span></div>
              </div>
            </div>
          </div>
          <ng-template [ngIf]="data.discounts.length !== 0" [ngIfElse]="noDiscounts">
            <app-data-table [data]="discountData" [config]="discountTableConfig" (removeItem)="onRemoveDiscount($event)">
            </app-data-table>
          </ng-template>
          <ng-template #noDiscounts>
            <p class="small text-muted mt-2 ms-2">تخفیفی برای آزمون تعریف نشده است.</p>
          </ng-template>
          <div class="group-footer"></div>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions style="direction: ltr;">
  <button type="submit" form="form" class="btn btn-success btn-sm d-flex px-3">
    <span class="loading-double-ring ms-1" *ngIf="reachingOut"></span>
    <div>ثبت</div>
  </button>
  <button class="btn btn-secondary btn-sm px-3 me-2" [mat-dialog-close]="submitted">انصراف</button>
</div>
