<nav class="sidebar sticky-right">
  <div class="nav flex-column">
    <a routerLink="instrument" routerLinkActive="active" class="nav-link">
      دستگاه
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="used-material" routerLinkActive="active" class="nav-link">
      قطعات/مواد مصرفی دستگاه
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="test" routerLinkActive="active" class="nav-link">
      آزمون
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="discount" routerLinkActive="active" class="nav-link">
      تخفیف آزمون
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="service" routerLinkActive="active" class="nav-link">
      خدمات
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="payment" routerLinkActive="active" class="nav-link">
      پرداخت‌ها
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="customer-account" routerLinkActive="active" class="nav-link">
      حساب متقاضیان
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="professor-grant" routerLinkActive="active" class="nav-link">
      حساب گرنت هیأت علمی
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="person" routerLinkActive="active" class="nav-link">
      لیست افراد
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="organization" routerLinkActive="active" class="nav-link">
      لیست شرکت/سازمان‌ها
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="edu-group" routerLinkActive="active" class="nav-link">
      گروه آموزشی
    </a>
  </div>
  <div class="nav flex-column">
    <a routerLink="edu-field" routerLinkActive="active" class="nav-link">
      رشته تحصیلی
    </a>
  </div>
</nav>
