<div class="card">
  <div class="card-header py-1">دستگاه</div>
  <div class="card-body">
    <div class="mb-3">
      <button class="btn btn-sm btn-success me-2 px-3" (click)="openForm()">
        جدید
        <i class="fas fa-plus ms-2"></i>
      </button>
      <button class="btn btn-sm btn-secondary px-3" (click)="toggleSearch()">
        جستجو
        <i class="fas fa-search ms-2"></i>
      </button>
    </div>
    <app-data-table
            [data]="instruments"
            [config]="table"
            (editItem)="openForm($event)"
            (removeItem)="onRemoveItem($event)"
            (paramsChanged)="fetch()"
            (buttonClicked)="buttonClicked($event)">
    </app-data-table>
  </div>
  <app-progress *ngIf="table.loading"></app-progress>
  <div class="details mx-3 py-3" *ngIf="selectedItem !== null">
    <h5 class="fw-bold">جزئیات دستگاه</h5>
    <div class="row mb-2">
      <div class="col">
        <div><strong>نام دستگاه:</strong>&nbsp;<span>{{ selectedItem.name }}</span></div>
        <div><strong>مدل دستگاه:</strong>&nbsp;<span>{{ selectedItem.model }}</span></div>
        <div><strong>شماره سریال:</strong>&nbsp;<span>{{ selectedItem.serial }}</span></div>
      </div>
      <div class="col">
        <div><strong>شرکت سازنده:</strong>&nbsp;<span>{{ selectedItem.manufacturer }}</span></div>
        <div><strong>کشور سازنده:</strong>&nbsp;<span>{{ selectedItem.madeIn }}</span></div>
        <div><strong>وضعیت سرویس دهی:</strong>&nbsp;<span>{{ table.columns[4].transform(selectedItem.serviceable) }}</span></div>
      </div>
      <h5 class="fw-bold">اپراتور های دستگاه</h5>
    </div>
  </div>
</div>
