<div class="select-wrapper">
    <span class="form-status" #formStatus></span>
    <em></em>
    <input id="search" type="text" class="txt"
           #searchField
           [(ngModel)]="searchText"
           (focus)="onInteract()"
           (input)="onInteract()"
           placeholder="df" autocomplete="off">
    <label for="search" class="label">متقاضی</label>
    <ul class="options" [ngStyle]="{'display': showOptions ? 'block' : 'none'}">
        <li class="option" *ngFor="let opt of data.options; let i = index" (click)="select(i)">{{ opt.label }}</li>
    </ul>
</div>
