<div class="card">
  <div class="card-header py-1">آزمون</div>
  <app-progress *ngIf="table.loading"></app-progress>
  <div class="card-body">
    <div class="mb-3">
      <button class="btn btn-sm btn-success me-2 px-3" (click)="openForm()">
        جدید
        <i class="fas fa-plus ms-2"></i>
      </button>
      <button class="btn btn-sm btn-secondary px-3" (click)="toggleSearch()">
        جستجو
        <i class="fas fa-search ms-2"></i>
      </button>
    </div>
    <app-data-table
            [data]="tests"
            [config]="table"
            (editItem)="openForm($event)"
            (removeItem)="onRemoveItem($event)"
            (paramsChanged)="fetch()"
            (activeChanged)="onToggleStatus($event)"
            (buttonClicked)="buttonClicked($event)">
    </app-data-table>
  </div>
</div>
<div class="card" *ngIf="selectedItem !== null">
  <div class="card-header py-1">جزئیات آزمون</div>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col">
        <div class="details-text"><strong>نام آزمون:</strong>&nbsp;<span>{{ selectedItem.name }}</span></div>
      </div>
      <div class="col">
        <div class="details-text"><strong>نام کوتاه:</strong>&nbsp;<span>{{ selectedItem.shortName }}</span></div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="details-text"><strong>توضیحات:</strong>&nbsp;<p [innerHTML]="formatDescription(selectedItem.description)"></p></div>
      </div>
      <div class="col">
        <div class="details-text"><strong>آماده‌سازی نمونه:</strong>&nbsp;<span>{{ selectedItem.samplePreparations.length == 0 ? 'ندارد' : 'دارد' }}</span></div>
      </div>
    </div>
    <div class="form-hr mb-3"><span>مشخصات دستگاه</span><div></div></div>
    <div class="row mb-2">
      <div class="col">
        <div class="details-text"><strong>نام دستگاه:</strong>&nbsp;<span>{{ selectedItem.instrument.name }}</span></div>
      </div>
      <div class="col">
        <div class="details-text"><strong>مدل دستگاه:</strong>&nbsp;<span>{{ selectedItem.instrument.model }}</span></div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="details-text"><strong>شرکت سازنده دستگاه:</strong>&nbsp;<span>{{ selectedItem.instrument.manufacturer }}</span></div>
      </div>
      <div class="col">
        <div class="details-text"><strong>وضعیت سرویس‌دهی دستگاه:</strong>&nbsp;<span>{{ selectedItem.instrument.serviceable == 1 ? 'آماده سرویس دهی' : 'غیرقابل استفاده' }}</span></div>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-hr mb-3"><span>تعرفه های آزمون</span><div></div></div>
      <app-data-table [data]="testFeesData" [config]="testFeesTable"></app-data-table>
    </div>
    <div class="mb-3" *ngIf="selectedItem.samplePreparations.length > 0">
      <div class="form-hr mb-3"><span>آماده‌سازی های نمونه برای آزمون</span><div></div></div>
      <app-data-table [data]="testSamplePrepsData" [config]="testSamplePrepsTable"></app-data-table>
    </div>
    <div *ngIf="selectedItem.discounts.length > 0">
      <div class="form-hr mb-3"><span>تخفیف های آزمون</span><div></div></div>
      <app-data-table [data]="testDiscountsData" [config]="testDiscountsTable"></app-data-table>
    </div>
  </div>
</div>
