<h1 mat-dialog-title class="pt-2 pb-0">{{ title }}</h1>
<app-progress *ngIf="reachingOut"></app-progress>
<div class="container-fluid">
  <form id="form" #f=ngForm (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="input-field">
          <input type="text" id="name" name="name" class="txt" placeholder="pox" [(ngModel)]="data.name" autocomplete="off">
          <label for="name">عنوان</label>
        </div>
      </div>
      <div class="col-6" style="margin-top: 18px">
        <app-select [data]="typeOptions" name="type" [(ngModel)]="data.type"></app-select>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="input-field">
          <input type="text" id="manufacturer" name="manufacturer" class="txt" placeholder="pox" [(ngModel)]="data.manufacturer" autocomplete="off">
          <label for="manufacturer">سازنده</label>
        </div>
      </div>
      <div class="col-6">
        <div class="input-field">
          <input type="number" id="price" name="price" class="txt" placeholder="pox" [(ngModel)]="data.price" autocomplete="off">
          <label for="price">قیمت</label>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions style="direction: ltr;">
  <button type="submit" form="form" class="btn btn-success btn-sm d-flex px-3">
    <span class="loading-double-ring ms-1" *ngIf="reachingOut"></span>
    <div>ثبت</div>
  </button>
  <button class="btn btn-secondary btn-sm px-3 me-2" [mat-dialog-close]="submitted">انصراف</button>
</div>
