<h1 mat-dialog-title class="pt-2 pb-0">{{ title }}</h1>
<app-progress *ngIf="reachingOut"></app-progress>
<div class="container-fluid">
  <form id="form" #f=ngForm (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="input-field">
          <input type="text" id="name" name="name" class="txt" placeholder="pox"
                 [(ngModel)]="data.name" #name='ngModel' autocomplete="off" required
                 [ngClass]="{'invalid': (name.invalid && name.touched) || (f.submitted && name.invalid)}">
          <label class="input" for="name">عنوان</label>
          <small class="error text-danger" *ngIf="(name.invalid && name.touched) || (f.submitted && name.invalid)">
            پرکردن این فیلد الزامی است.
          </small>
        </div>
      </div>
      <div class="col-6" style="margin-top: 18px">
        <app-select [data]="typeOptions" name="type" [(ngModel)]="data.type" #type='ngModel' required
                    [invalid]="(type.invalid && type.touched) || (f.submitted && type.invalid)">
        </app-select>
        <small class="error text-danger" *ngIf="(type.invalid && type.touched) || (f.submitted && type.invalid)">
          پرکردن این فیلد الزامی است.
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="input-field">
          <input type="text" id="manufacturer" name="manufacturer" class="txt" placeholder="pox" [(ngModel)]="data.manufacturer" autocomplete="off">
          <label class="input" for="manufacturer">سازنده</label>
        </div>
      </div>
      <div class="col-6">
        <div class="input-field">
          <input type="number" id="price" name="price" class="txt" placeholder="pox"
                 [(ngModel)]="data.price" #price='ngModel' autocomplete="off" required min="0"
                 [ngClass]="{'invalid': (price.invalid && price.touched) || (f.submitted && price.invalid)}">
          <label class="input" for="price">
            قیمت
            <ng-template [ngIf]="type.value != null && type.value != 0">
              (برحسب {{ getMaterialUnit(type.value)}})
            </ng-template>
          </label>
          <ng-template [ngIf]="(price.invalid && price.touched) || (f.submitted && price.invalid)">
            <small class="error text-danger" *ngIf="price.errors?.['required']">
              پرکردن این فیلد الزامی است.
            </small>
            <small class="error text-danger" *ngIf="price.errors?.['min']">
              مقدار وارد شده مجاز نمی‌باشد.
            </small>
          </ng-template>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions style="direction: ltr;">
  <button type="submit" form="form" class="btn btn-success btn-sm d-flex px-3">
    <span class="loading-double-ring ms-1" *ngIf="reachingOut"></span>
    <div>ثبت</div>
  </button>
  <button class="btn btn-secondary btn-sm px-3 me-2" [mat-dialog-close]="submitted">انصراف</button>
</div>
